body {
    background-color: #e0ffff;
}

#header {
    text-align: center;
}

.menu {
    padding-left: 0px;
}

.menu li {
    list-style: none;
    display: inline;
    padding-right: 40px;
    line-height: 50px;
}

.menu li a {
    text-decoration: none;
}

.selected {
    color:red;
}