body{
    font-family: Century Gothic, sans-serif;
    font-size:	14px;	
   
    background-color: #E6E8FA;	
}
ul.menu li{
    margin:0;
    padding:0;
    list-style-type: none;
    width: 200px;
    line-height: 500%

	
}
 ul.menu li a{
    display:block;
    text-decoration:none;
    margin:5px;
    padding:0;
    width:180px;
    color:#0276FD;
}
table{
    border: thin solid black;
    border-spacing: 0px;
    margin-left:45px;	
}
td {
    border: thin gray solid;
}
th{
    border: thin gray solid;
}
caption{
    font-weight: bold;
    color:#0099CC;	
}
.contact{
    font-weight: bold;

}
.heading{
    background-color: #00B2EE;
}

.key{
    font-weight: bold;
    margin-left: 0px;
    text-align: left;
}

ul.menu li a:hover{
    color:red;
}

ul.menu li a.current, ul.vert-one li a.current:hover{
    background:#0000ff ;
}
#me h2{
text-align: center;
}

.color{
    color: #0099CC;
       
}

.details {
    margin-left: 25%;
    margin-right: 25%;
}

.noList li div {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
}

.textRight {
    text-align: right;
}

.noList {
    list-style: none;
    display: table;
    padding: 0;
}

.noList li {
    display:table-row;

}

.keyValue {
    padding-left: 10px;
}
#main{
   text-align: center;
   color: #0276FD;
}

h2{
    color:#0099CC;
}

ol.adventures li{
	list-style-image:url(backpack.gif);
	
}

.photo{
    height: 140px;
    width: 120px;
    float:right; 	  	   
	
}				
     	

#beach{
 height: 250px;
 width: 300px;
 margin-left:150px; 	   
	
}	

.flower{
  height:255px;
  width: 260px;
  margin-left:150px; 			
				
}
.fly{
  height:140px;
  width: 200px;
  margin-left:170px;
  margin-top: -100px;
}

.date-modified  {
    color:#0099CC;
}

.date-modified h5{
    text-align: left;
}

.date-modified h6{
    text-align: center;
}
