body {
    font-family: Century Gothic, sans-serif;
    font-size:	14px;	
   
    background-color: #E6E8FA;	
}

.key {
    font-weight: bold;
    margin-left: 0px;
    text-align: left;
    text-decoration:underline;
}

.keyValue {
    padding-left: 10px;
}

.wrapper {
    width:600px;
    margin: auto;
}


.noList li div {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.textRight {
    text-align: right;
}

.noList {
    list-style: none;
    display: table;
    padding: 0;
}

.noList li {
    display:table-row;

}
