body {
    background-color: #f0ffff;
}


.wrapper{
    width: 800px;
    margin: auto;
}

.wrapper h1{
    text-align: center;

}

.textAreaWrapper {
    width: 400px;
    margin: auto;
}


.textAreaWrapper input {
    width: 100px;
}

